<!DOCTYPE HTML>
<html>
	<head>
		<title>Pawfect</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/css/noscript.css" /></noscript>
	<!-- Scripts -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/browser.min.js"></script>
		<script src="../static/js/breakpoints.min.js"></script>
		<script src="../static/js/util.js"></script>
		<script src="../static/js/main.js"></script>
		<script type="text/javascript">
			function filterspec() {
    			var x = {
					'StrangerDirectedAggression': 2,
					'OwnerDirectedAggression': 2,
					'DogDirectedAggression': 2,
					'StrangerDirectedFear': 2,
					'DogDirectedFear': 2,
					'NonsocialFear': 2,
					'DogRivalry': 2,
					'Trainability': 2,
					'Chasing': 2,
					'AttachmentAttentionSeeking': 2,
					'SeparationRelatedBehavior': 2,
					'TouchSensitivity': 2,
					'Excitability': 2,
					'EnergyLevel': 2};
    			
    			$.ajax({
    				url:'http://127.0.0.1:5000/filter',
    				data: JSON.stringify(x),
    				contentType:'application/json;charset=UTF-8',
    				type : 'POST',
    				success: function(response){
    					console.log(response);
    				},
    				error: function (error) {
    					console.log(error);
    				}
    			})
    			event.preventDefault();
				}
		</script>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="content">
							<div class="inner">
								<h1>Pawfect.ai</h1>
								<p>Find your Pawfect Doggo <br />
								!!Testing zone - Unfinished project!!</p>
							</div>
						</div>
					</header>

				<div class="is-preload">
					<p>This is an experiment</p>
				</div>
				<button onclick="filterspec()">
					click Me!
				</button>
				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">Puppy Right SCIROP 2019. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

	

	</body>
</html>
