<!DOCTYPE html>
<html>
  <head>
      <title>Pawfect</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <link rel="stylesheet" href="../static/css/main.css"/>
      <style type="text/css">
         .slider-handle.custom::before {
            line-height: 20px;
            font-size: 20px;
            content: url("../images/dog.png") !important;
            color: #726204;
          }
      </style>

  </head>
  <body>
    <div>
           <h1 class="text-center"> Dog search specifications :</h1>
    </div>

    <form id = "specification-form">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <input type="range" id="SDA" name="StrangerDirectedAggression"
             min="0" max="10">
            <br>
            <label for="SDA">Stranger Directed Aggression</label>
          </div>
          <div class="col-sm">
            <input type="range" id="SDA" name="StrangerDirectedAggression"
             min="0" max="10">
            <br>
            <label for="SDA">Stranger Directed Aggression</label>
          </div>
          <div class="col-sm">
            <input type="range" id="ODA" name="OwnerDirectedAggression"
             min="0" max="10">
            <br>
            <label for="ODA">Owner Directed Aggression</label>
          </div>
        </div>

        <!-- 2 X3-->
        <div class="row">
          <div class="col-sm">
            <input type="range" id="DDA" name="DogDirectedAggression"
             min="0" max="10">
            <br>
            <label for="DDA">Dog directed Aggression</label>
          </div>
          <div class="col-sm">
            <input type="range" id="SDF" name="StrangerDirectedFear"
             min="0" max="10">
            <br>
            <label for="SDF">Stranger Directed Fear</label>
            <br>
          </div>
          <div class="col-sm">
            <input type="range" id="DDF" name="DogDirectedFear"
             min="0" max="10">
            <br>
            <label for="DDF">Dog Directed Fear</label>
            <br>
          </div>
        </div>
        <!-- 3X3 -->
        <div class="row">
          <div class="col-sm">
             <input type="range" id="NSF" name="NonsocialFear"
             min="0" max="10">
            <br>
            <label for="NSF">Non social Fear</label>
            <br>

          </div>
          <div class="col-sm">
            <input type="range" id="SDA" name="StrangerDirectedAggression"
             min="0" max="10">
            <br>
            <label for="SDA">Stranger Directed Aggression</label>
          </div>
          <div class="col-sm">
            <input type="range" id="Trainability" name="Trainability"
             min="0" max="10">
            <br>
            <label for="Trainability">Trainability</label>
            <br>
          </div>
        </div>
        <!-- 4X3 -->
        <div class="row">
          <div class="col-sm">
             <input type="range" id="Chasing" name="Chasing"
             min="0" max="10">
              <br>
              <label for="Chasing">Chasing</label>
              <br>
          </div>
          <div class="col-sm">
            <input type="range" id="AAS" name="AttachmentAttentionSeeking"
             min="0" max="10">
            <br>
            <label for="AAS">Attachment Attention Seeking</label>
            <br>
          </div>
          <div class="col-sm">
                <input type="range" id="SRB" name="SeparationRelatedBehavior"
             min="0" max="10">
                <br>
                <label for="SRB">Separation Related Behavior</label>
                <br>
          </div>
        </div>
        <!-- 5X3 -->
        <div class="row">
          <div class="col-sm">
            <input type="range" id="TS" name="TouchSensitivity"
             min="0" max="10">
            <br>
            <label for="TS">TouchSensitivity</label>
            <br>
          </div>
          <div class="col-sm">
            <input type="range" id="Excitability" name="Excitability"
                   min="0" max="10">
            <br>
            <label for="Excitability">Excitability</label>
            <br>
          </div>
          <div class="col-sm">
            <input type="range" id="EnergyLevel" name="EnergyLevel"
             min="0" max="10">
            <br>
            <label for="EnergyLevel">Energy Level</label>
            <br>
          </div>
        </div>
      </div>

      <div class="text-center" >
        <button type="submit" class="btn btn-outline-dark" onclick="generateJson()">
                  <span style="font-size:x-large;color: green;">submit</span>
        </button>
      </div>
    </form>


      <script type="text/javascript" src="../static/js/jquery.min.js"></script>
      <script type="text/javascript" src="../static/js/jquery.serializejson.js"></script>
      <script type="text/javascript">
        function generateJson() {
            var obj = $('#specification-form').serializeJSON();
            var jsonString = JSON.stringify(obj);
            console.log(jsonString);
            $.ajax({
            url: "/filter",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(jsonString),
            success: function(data){
              document.write(data);
            //console.log(data);
            console.log(jsonString);
          },
            error: function(e) {
              console.log(e);
            }
           });
           event.preventDefault();
         }
      </script>
      <footer>
         <nav class="text-center" style="vertical-align: bottom;">
         <small>&copy; Puppyright 2018 Swarup Sahoo & Arpit Mohanty </small>
        </nav>
      </footer>
  </body>
</html>
